<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        td.positive { color : green; }
    </style>
    <script>
        function MakeNegative() {
            let TDs = document.getElementsByTagName('td');
            for (let i=0; i<TDs.length; i++) {
                let temp = TDs[i];
                if (temp.firstChild.nodeValue.indexOf('-') != 0) temp.className = "positive";
            }
        }
    </script>


</head>
<body>
<table id="mytable">
    <caption>Some Financial Stuff</caption>
    <thead>
    <tr><th scope="col">Date</th><th scope="col">Money is good</th></tr>
    </thead>
    <tbody>
    <tr><td>2006-05-01</td><td>19.95</td></tr>
    <tr><td>2006-05-02</td><td>-54.54</td></tr>
    <tr><td>2006-05-03</td><td>34.45</td></tr>
    <tr><td>2006-05-04</td><td>88.00</td></tr>
    <tr><td>2006-05-05</td><td>22.43</td></tr>
    </tbody>
</table>
<script>

    MakeNegative();
</script>
</body>
</html>